build/

*.log
*.pdb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exe
*.json
*.o
*.a
*.sa
*.obj
*.pdb
*.log
*.tlog
*.bat
*.sh
*.so
*.s
*.lib
*.dll
*.l
*.log
*.sln
*.vs
*.pch
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.md
!README.md
!CMakelists.txt
#this folder remain but not all contained files
/Release
#this folder remain but not all contained files
/x64
#this folder remain but not all contained files
/Build
#this folder remain but not all contained files
/Debug
#this folder remain but not all contained files
/.vs
